.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  background-color: #1e1e1e !important;
}

.container-after-titlebar{
  /* background: linear-gradient(to bottom,#f4929d ,#cd5c6a); */
  background-color: #121212;
}

.btn{
  color: black !important;
  background-color: #a668e8 !important;
  border-color: #a668e8 !important;
}

p{
  font-size: 15px;
}

#main-card{
  width: 25rem;
}

#config-card{
  width: 27rem;
}