/* body {
  background-color: #EF7676;
} */

h4{
  color: white;
}

#title{
  
  font-family: 'Helvetica',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
}

#message{
  font-family: "Helvetica",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin-top: 20px;
}

a{
  font-family: "Helvetica",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

html,body {
  margin: 0;
  /* padding: 0; */
  height: 100%;
  /* overflow: hidden; */
  /* background-repeat: no-repeat; */
}

#background{
  /* margin: 0; */
  height: 100%;
  /* padding: 0; */
  background: linear-gradient(to bottom,#f4929d ,#cd5c6a);
  /* background-repeat: no-repeat; */
}

#menubar{
  height: 25px;
  width: 100%;
  background-color: #212121;
}

.bg-color{
  background-color: #333333 !important;
}

#valign{
  margin: 0;
  height: 100%;
}

#all-container{
  margin: 0;
  height: 100%;
}

#valign{
  vertical-align: middle;
}

/* label color */
/* .input-field label {
  color: #f44336 !important;
} */
.input-field input[type=text]:focus + label {
  color: #cd5c6a !important;
}
.input-field input[type=text]:label {
  color: white !important;
}

.input-field>label{
  color: white;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #cd5c6a !important;
  box-shadow: 0 1px 0 0 #cd5c6a !important;
}

/* .input-field input[type=text].valid {
  border-bottom: 1px solid #f44336 !important;
  box-shadow: 0 1px 0 0 #f44336 !important;
} */

/* textarea.materialize-textarea:focus:not([readonly])+label{
  color:#f44336 !important;
} */